* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    max-width: 100vw;
    max-height: 100vh;
}
/* header section */
.header {
    width: 100%;
    padding: 12px 100px 50px;
    flex-direction: column;
    row-gap: 50px;
    background-color: #1F2937;
}
.header,
.header-navigation,
.header-content,
.links,
.header-content_text {
    display: flex;
}
.header-navigation {
    justify-content: space-between;
}
.links {
    list-style: none;
    gap: 12px;
}
.header-content {
    justify-content: space-between;
}
.header-content_text {
    max-width: 400px;
    gap: 12px;
    flex-direction: column;
    flex-wrap: wrap;
}
.image-container {
    width: 500px;
    height: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
#main-title {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900; 
}
#main-subtext,
.link,
.footer-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
#first-sign-up-button,
#second-sign-up-button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: large;
}

/* information section */
.information,
.information-content,
.image-and-subtext {
    display: flex;
}
.information {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 50px 70px;
}
.information-content {
    gap: 100px;
    justify-content: center;
    align-items: center;
    color: rgb(136, 133, 133);
}
.image-and-subtext {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    text-align: center;
    flex-wrap: wrap;
    gap: 12px;
}
.image-placeholder {
    width: 160px;
    height: 180px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

/* quote section */
.quote-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
    background-color: #E5E7EB;
}
.quote-container {
    gap: 12px;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.caption {
    font-weight: bolder;
    align-self: flex-end;
}

/* Call to action section */

.call-to-action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.call-to-action-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 950px;
    height: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
}
#second-sign-up-button {
    border: 2px solid #F9FAF8;
}

/* Footer */

.footer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: larger;
}